<aside class="controls">
  <div class="paging">
    <button class="previous-page" disabled={{if isDisablePreviousPage "disabled"}} onclick={{action "onSelectPreviousPage" popularMovies.page}}>&lang;</button>
    <p>Page&nbsp;
      {{input
      aria-label="current page number"
      id="current-page-number"
      name="current page number"
      placeholder=""
      type="text"
      value=popularMovies.page
      focus-out=(action "onPageChange" popularMovies.page)
      key-up=(action "onPageChange" popularMovies.page)}}

      &nbsp;of {{popularMovies.total_pages}}
    </p>
    <button class="next-page" disabled={{if isDisableNextPage "disabled"}} onclick={{action "onSelectNextPage" popularMovies.page}}>&rang;</button>
  </div>

  <form class="frm-sort">
    <label for="lbl-sort-movies">
      Sort by
    </label>
    <select id="sort-movies" onchange={{action "onSelectSort" value="target.value"}}>
      {{#each sortOptions as | sortOption |}}
        <option value={{sortOption.property}}>{{sortOption.label}}</option>
      {{/each}}
    </select>
  </form>
</aside>

{{#if popularMovies.results}}
  <ul class="movie-list">
    {{#each sortedPopularMovies as | popularMovie |}}
      <li class="movie" onclick={{action "onViewMovieDetails" popularMovie}}>
        <div class="movie-info">
          <h3 class="title">{{popularMovie.title}}</h3>
          <p class="overview">{{string-truncate content=popularMovie.overview maxLength=100 suffix="..."}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="no-popular-movies">
    Bummer! There are no movies that are popular at the moment...
  </p>
{{/if}}
