<section class="popular-movies-wrapper">
  <h2 class="heading">Popular Movies</h2>

  {{popular-movies/popular-movie-list
    popularMovies=model.popularMovies
    onPageChange=(route-action "onPageChange")
    onSelectPreviousPage=(route-action "onSelectPreviousPage")
    onSelectNextPage=(route-action "onSelectNextPage")
    onViewMovieDetails=(route-action "onViewMovieDetails")}}

  {{#if model.popularMovie.title}}
    <section class="movie-details-wrapper">
      <img class="movie-poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{model.popularMovie.poster_path}}" alt="{{model.popularMovie.title}}"/>

      <div class="movie-details">
        <h3 class="title">{{model.popularMovie.title}}</h3>

        <aside class="rating">
          <span>☆ {{model.popularMovie.vote_average}}</span>
        </aside>

        <h5 class="release-date">Released: {{model.popularMovie.release_date}}</h5>

        <h4 class="subheading">Overview</h4>
        <p class="overview">
          {{model.popularMovie.overview}}
        </p>
      </div>
    </section>
  {{/if}}
</section>
